#proyectodecabecera {
    background-color: aqua;
}

#boton {
    background-color: orchid;
}

#comentario {
    background-color: papayawhip;
}

#articulos {
    background-color: tomato;
}